<!DOCTYPE html>
<html>
    <body>
        <h3><%= entete %></h3>
        <form method="post" action="http://localhost:8080">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit">
        </form>
    </body>
    <script>
        console.log("username: <%= username %>");
        document.getElementById("username").value = "<%= username %>";
        document.getElementById("password").value = "<%= password %>";
    </script>
</html>